body {
  background-color: black;
  height: 100vh;
  color: #24CC44;
  font: 1.5em 'VT323', Inconsolata, monospace;
  text-shadow: 0 0 2px #C8C8C8;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}
